<%- include('header') %>
  <section class="section-features js--section-features" id="features">
    <div class="row">
      <h2>Mendapatkan makanan dengan cepat &mdash; bukan makanan cepat saji</h2>
        <p class="long-copy">
          Hello, Kami berkomitmen menyediakan pelbagai menu sehat untuk anda. Tidak mempunya waktu untuk memasak, maka biarkan kami yang memasak semuanya untuk anda!
        </p>
    </div>
  </section>
  <%- include('./sections/subscriptionplan', {subscriptionplans}) %>
<%- include('footer') %>