<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/grid.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/queries.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    
    <title>Healthy Food Here...</title>
  </head>
  <body>
  <nav>
    <div class="row">
      <img src="/img/logo-white.png" alt="Omnifood logo" class="logo">
      <img src="/img/logo.png" alt="Omnifood logo" class="logo-black">
      <ul class="main-nav js--main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/users/dashboard/edit">Edit Profile</a></li>
        <li><a href="/users/logout">Logout</a></li>
      </ul>
      <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
    </div>
  </nav>
  <section class="section-features js--section-features" id="features">
    <div class="row">
      <h2>Mendapatkan makanan dengan cepat &mdash; bukan makanan cepat saji</h2>
        <p class="long-copy">
          Hello <strong><%= user.first_name %></strong>, Kami berkomitmen menyediakan pelbagai menu sehat untuk anda, plan anda saat ini <strong><%= subscriptionplan.plan_type %></strong>. Tidak mempunya waktu untuk memasak, maka biarkan kami yang memasak semuanya untuk anda!
        </p>
    </div>
  </section>
  <section class="section-meals">
    <ul class="meals-showcase clearfix">
      <% menus.forEach(menu => { %>
        <li>
          <figure class="meal-photo">
            <img src="<%= menu.name %>">
          </figure>
        </li> 
      <% }) %>
  </section>
<%- include('footer') %>